body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background-color: #F6F3E5;
}

#titdiv {
	height: 50px;
	background-color: #840000;
	color: white;
	padding-top: 10px;
	padding-left: 20px;
	border-bottom: 1px solid #540000;
}
h1 {
    font-size: 24px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
#titdiv a {
    font-weight: 300;
}
#titdiv a:visited {
    color: white;
}
#titdiv a:link {
    color: white;
}

#wrap {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.rel_paper {
    margin: 10px;
    padding: 6px;
    color: #333;
    font-size: 16px;
    border: 1px solid #333;
    background-color: white;
}

.rel_paper a {
    font-weight: normal;
    text-decoration: none;
}

.rel_authors {
    font-weight: 300;
    font-size: 14px;
}

.dllinks {
    border-radius: 5px;
    float: right;
    text-align: right;
}

.metadata {
    font-size: 16px;
    padding: 5px;
    display: inline-block;
}
.action {
    cursor: pointer;
    text-decoration: underline;
}

.rel_date {
    color: #900;
}

.rel_title {
    font-size: 18px;
}

.medrxiv .rel_title a {
    color: #0e4c92;
}

.biorxiv .rel_title a {
    color: #bc2635;
}

.rel_abs {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #EFE;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
}

.rel_tweets_summary {
    background-color: #EEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}

.tweet {
    background-color: #EEF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    min-height: 48px;
}

.tweet img {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.tweet .meta {
    margin-top: 3px;
}

.tweet .following {
    background-color: #0e4c92;
    padding: 3px 5px 3px 5px;
    border-radius: 3px 0px 0px 3px;
    color: white;
}

.tweet .uname {
    padding: 3px 5px 3px 5px;
    background-color: #6a99d4;
    color: white;
    border-radius: 0px 3px 3px 0px;
    margin-right: 5px;
}

.tweet .uname a {
    color: white;
}

.tweet .text {
    line-height: 18px;
}


#info {
    background-color: #EEF;
    padding: 10px;
    margin: 10px;
    border: 1px solid #CCD;
    color: #005;
    font-weight: 300;
}

#sbox {
    margin-top: 10px;
    text-align: center;
}

#qfield {
    border: 5px solid white;
    width: 920px;
    border: solid 1px #999;

    height: 40px;
    font-size: 22px;
    color: "#333";

    padding-left: 50px;

    background-image:url('/static/search.png');
    background-repeat:no-repeat;
    background-position:left center;
    outline:0;
  }